@model HVAC.Models.EnquiryVM
@{
    Layout = null;
    var i = 0;
}
<div class="col-xl-4 col-lg-6">
    <div class="card">
        <div class="card-header bg-transparent border-bottom">
            <div class="d-flex flex-wrap align-items-start">
                <div class="me-2">
                    <h5 class="card-title mt-1 mb-0">Posts</h5>
                </div>
                <ul class="nav nav-tabs nav-tabs-custom card-header-tabs ms-auto" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#post-recent" role="tab" aria-selected="false" tabindex="-1">
                            Recent
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#post-popular" role="tab" aria-selected="true">
                            Popular
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="card-body">

            <div data-simplebar="init" style="max-height: 295px;" class="simplebar-scrollable-y">
                <div class="simplebar-wrapper" style="margin: 0px;">
                    <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                            <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden scroll;">
                                <div class="simplebar-content" style="padding: 0px;">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane" id="post-recent" role="tabpanel">
                                            <ul class="list-group list-group-flush">
                                                @foreach (var item in Model.ClientDetails)
                                                {

                                                    <li class="list-group-item py-3" id="trclient_@i">
                                                        <div class="d-flex">
                                                            <div class="me-3">
                                                                <img src="assets/images/small/img-2.jpg" alt="" class="avatar-md h-auto d-block rounded">
                                                                @{ 
                                                                if (@item.ClientType == null || item.ClientType == "")
                                                                {
                                                                        <span>Client</span>
                                                                }
                                                                }
                                                            </div>

                                                            <div class="align-self-center overflow-hidden me-auto">
                                                                <div>
                                                                    <h5 class="font-size-14 text-truncate"><a href="javascript: void(0);" class="text-dark">@item.ClientName</a></h5>
                                                                    <p class="text-muted mb-0">@item.ClientType</p>
                                                                </div>
                                                            </div>

                                                            <div class="dropdown ms-2">
                                                                <a class="text-muted font-size-14" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="mdi mdi-dots-horizontal"></i>
                                                                </a>

                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a class="dropdown-item" href="#">Edit</a>                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    }
                                                </ul>
                                        </div>
                                        <!-- end tab pane -->

                                        <div class="tab-pane active show" id="post-popular" role="tabpanel">

                                            <ul class="list-group list-group-flush">

                                                <li class="list-group-item py-3">
                                                    <div class="d-flex">
                                                        <div class="me-3">
                                                            <img src="assets/images/small/img-6.jpg" alt="" class="avatar-md h-auto d-block rounded">
                                                        </div>

                                                        <div class="align-self-center overflow-hidden me-auto">
                                                            <div>
                                                                <h5 class="font-size-14 text-truncate"><a href="javascript: void(0);" class="text-dark">Drawing a sketch</a></h5>
                                                                <p class="text-muted mb-0">02 Nov, 2020</p>
                                                            </div>
                                                        </div>

                                                        <div class="dropdown ms-2">
                                                            <a class="text-muted font-size-14 show" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                <i class="mdi mdi-dots-horizontal"></i>
                                                            </a>

                                                            <div class="dropdown-menu dropdown-menu-end show" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 22px, 0px);" data-popper-placement="bottom-end">
                                                                <a class="dropdown-item" href="#">Action</a>
                                                                <a class="dropdown-item" href="#">Another action</a>
                                                                <a class="dropdown-item" href="#">Something else here</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </li>

                                                <li class="list-group-item py-3">
                                                    <div class="d-flex">
                                                        <div class="me-3">
                                                            <img src="assets/images/small/img-2.jpg" alt="" class="avatar-md h-auto d-block rounded">
                                                        </div>

                                                        <div class="align-self-center overflow-hidden me-auto">
                                                            <div>
                                                                <h5 class="font-size-14 text-truncate"><a href="javascript: void(0);" class="text-dark">Beautiful Day with Friends</a></h5>
                                                                <p class="text-muted mb-0">10 Nov, 2020</p>
                                                            </div>
                                                        </div>

                                                        <div class="dropdown ms-2">
                                                            <a class="text-muted font-size-14" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="mdi mdi-dots-horizontal"></i>
                                                            </a>

                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="dropdown-item" href="#">Action</a>
                                                                <a class="dropdown-item" href="#">Another action</a>
                                                                <a class="dropdown-item" href="#">Something else here</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="list-group-item py-3">
                                                    <div class="d-flex">
                                                        <div class="me-3">
                                                            <img src="assets/images/small/img-1.jpg" alt="" class="avatar-md h-auto d-block rounded">
                                                        </div>

                                                        <div class="align-self-center overflow-hidden me-auto">
                                                            <div>
                                                                <h5 class="font-size-14 text-truncate"><a href="javascript: void(0);" class="text-dark">Riding bike on road</a></h5>
                                                                <p class="text-muted mb-0">20 Oct, 2020</p>
                                                            </div>
                                                        </div>

                                                        <div class="dropdown ms-2">
                                                            <a class="text-muted font-size-14" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="mdi mdi-dots-horizontal"></i>
                                                            </a>

                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="dropdown-item" href="#">Action</a>
                                                                <a class="dropdown-item" href="#">Another action</a>
                                                                <a class="dropdown-item" href="#">Something else here</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="list-group-item py-3">
                                                    <div class="d-flex">
                                                        <div class="me-3">
                                                            <img src="assets/images/small/img-2.jpg" alt="" class="avatar-md h-auto d-block rounded">
                                                        </div>

                                                        <div class="align-self-center overflow-hidden me-auto">
                                                            <div>
                                                                <h5 class="font-size-14 text-truncate"><a href="javascript: void(0);" class="text-dark">Project discussion with team</a></h5>
                                                                <p class="text-muted mb-0">24 Oct, 2020</p>
                                                            </div>
                                                        </div>

                                                        <div class="dropdown ms-2">
                                                            <a class="text-muted font-size-14" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="mdi mdi-dots-horizontal"></i>
                                                            </a>

                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="dropdown-item" href="#">Action</a>
                                                                <a class="dropdown-item" href="#">Another action</a>
                                                                <a class="dropdown-item" href="#">Something else here</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                        <!-- end tab pane -->
                                    </div>
                                    <!-- end tab content -->
                                </div>
                            </div>
                        </div>
                    </div><div class="simplebar-placeholder" style="width: 698px; height: 323px;"></div>
                </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 269px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div>
            </div>
        </div>
    </div>
</div>